<div class="container">
    <img class="logo" src="./assets/images/trakto-edu.png" >
  <div class="navbar">
    <ul class="navbar-info">
      <li class="info">
        <img class="calendar" src="./assets/images/calendar.svg">
        {{todayDate | date:"dd/MM/yyyy"}}
      </li>
      <li class="line"></li>
      <li class="info">
        <img src="./assets/images/notification.svg">
      </li>
      <li class="line"></li>
      <li class="info">
        <img src="./assets/images/profilepic.png">
        <img src="./assets/images/downArrow.svg">
      </li>
    </ul>
  </div>
</div>

